<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- INADYN -->
  <setting id="INADYN_START" type="bool" label="1020" default="false"/>
  <setting id="INADYN_SYSTEM_CONFIG" type="enum" label="1010" lvalues="1011|1012" default="1011" enable="eq(-1,true)" visible="eq(-1,true)"/>
  <setting type="sep"/>
  <setting id="INADYN_SYSTEM" type="labelenum" label="1021" values="default@dyndns.org|default@freedns.afraid.org|default@zoneedit.com|default@no-ip.com|default@easydns.com|default@tzo.com|dyndns@3322.org|default@dnsomatic.com|ipv6tb@he.net|dyndns@he.net|default@dynsip.org|default@sitelutions.com|default@dnsexit.com|default@changeip.com|default@zerigo.com|default@dhis.org" default="default@no-ip.com" enable="eq(-2,0) + eq(-3,true)" visible="eq(-2,0) + eq(-3,true)"/>
  <setting id="MANUAL_INADYN_SERVER_NAME" type="text" label="1013" default="" enable="eq(-3,1) + eq(-4,true)" visible="eq(-3,1) + eq(-4,true)"/>
  <setting id="MANUAL_INADYN_SERVER_URL" type="text" label="1014" default="" enable="eq(-4,1) + eq(-5,true)" visible="eq(-4,1) + eq(-5,true)"/>
  <setting id="INADYN_HOST" type="text" label="1023" default="" enable="eq(-6,true)" visible="eq(-6,true)"/>
  <setting id="INADYN_USER" type="text" label="1024" default="" enable="eq(-7,true)" visible="eq(-7,true)"/>
  <setting id="INADYN_PWD" type="text" option="hidden" label="1025" default="" enable="eq(-8,true)" visible="eq(-8,true)"/>
  <setting type="sep"/>
  <setting id="INADYN_UPDATE" type="labelenum" label="1022" values="10|30|60" default="30" enable="eq(-10,true)" visible="eq(-10,true)"/>
  <setting id="INADYN_DBG" type="labelenum" label="1026" values="0|1|2|3|4|5" default="0" enable="eq(-11,true)" visible="eq(-11,true)"/>
  <setting type="text" label="1027" enable="false" visible="eq(-12,true)"/>
</settings>