<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- INADYN -->
  <setting id="INADYN_START" type="bool" label="1020" default="false" />
  <setting id="INADYN_SYSTEM" type="labelenum" label="1021" values="default@dyndns.org|default@freedns.afraid.org|default@zoneedit.com|default@no-ip.com|default@easydns.com|default@tzo.com|dyndns@3322.org|default@dnsomatic.com|ipv6tb@he.net|dyndns@he.net|default@dynsip.org|default@sitelutions.com|default@dnsexit.com|custom@http_srv_basic_auth" default="default@no-ip.com" enable="eq(-1,true)"/>
  <setting id="INADYN_UPDATE" type="labelenum" label="1022" values="10|30|60" default="30" enable="eq(-2,true)"/>
  <setting id="INADYN_HOST" type="text" label="1023" default="" enable="eq(-3,true)"/>
  <setting id="INADYN_USER" type="text" label="1024" default="" enable="eq(-4,true)"/>
  <setting id="INADYN_PWD" type="text" option="hidden" label="1025" default="" enable="eq(-5,true)"/>
  <setting id="INADYN_DBG" type="labelenum" label="1026" values="0|1|2|3|4|5" default="0" enable="eq(-6,true)"/>
  <setting type="text" label="1027" enable="false"/>
</settings>
